

<section class="map">

</section>

<section class="search-not-map">


	<input type="text" class="query" value="">
	<button class="query-button">Find some food</button>
	<nav class="navigation">
		<% if (results.pageNum > 1) { %>
			<a class="prev-page" href="javascript:void(0)">Previous Page</a>
		<% } %>
		<% if (results.pageNum < results.total_pages) { %>
			<a class="next-page" href="javascript:void(0)">Next Page</a>
		<% } %>
		<br>
		<br>
		<button class="add-restaurant-form-button">Add a new restaurant</button>



	</nav>

	<ul class="restaurants-search-list group">

	</ul>
</section>
