<label>
	Query
	<input type="text" class="query">
</label>
<nav>
	<% if (results.pageNum > 1) { %>
		<a class="prev-page" href="javascript:void(0)">Previous Page</a>
	<% } %>
	<% if (results.pageNum < results.total_pages) { %>
		<a class="next-page" href="javascript:void(0)">Next Page</a>
	<% } %>




</nav>

<section class="map">

</section>

<ul class="restaurants-search-list">

</ul>
