<%= restaurant.get("id") %>
<h2><%= restaurant.escape("name") %></h2>
<%= restaurant.escape("cuisine") %>

<button class="edit-restaurant">Edit Restaurant Details</button>
<section class="form-section">
</section>

<button class="add-review">Add a review</button>
<section class="review-form-section"></section>
<ul class="reviews-list">
</ul>
