<label for="username">Username</label>
<input type="text" name="username" value="<%= user.escape("username")%>" id="username">

<label for="email">Email</label>
<input type="text" name="email" value="<%= user.escape("email")%>" id="email">

<label for="password">Password</label>
<input type="password" name="password" value="" id="password">

<button class="user-form-submit">Edit User Details</button>
