<label for="username">Username</label>
<input type="text" name="username" value="<%= user.escape("username")%>" id="username">

<label for="email">Email</label>
<input type="text" name="email" value="<%= user.escape("email")%>" id="email">

<label>
	Picture
	<input id="input-picture-file" type="file" name="picture">
</label>

<!-- <label for="password">Password</label>
<input type="password" name="password" value="" id="password">

<label for="password_confirmation">Password</label>
<input type="password" name="password_confirmation" value="" id="password_confirmation"> -->
<br>

<button class="user-form-submit">Submit User Details</button>
<br>
<img src="" id="picture-preview">
