
<section class="sidebar group">


  <img class="profile-pic" src="<%= user.escape("picture_url") %>" alt="" />
  <h2 class="name"><%= user.escape("username") %></h2>

  <% if (user.get("is_current_user")){%>
    <button class="edit-user">Edit User Details</button>
    <section class="user-form-section"></section>
    <section class="review-form-section"></section>
  <% } %>
</section>

<ul class="reviews-list">
</ul>
