
<label for="body">Review Body</label>
<textarea name="review[body]"> <%= review.escape("body") %></textarea>
<br>
<label for="rating">Rating, 1 to 5</label>
<input type="number" name="review[rating]" value="<%= review.escape("rating") %>">
<button class="submit-review">Submit Review</button>
