<br>
<div class="review-body">
  <%= review.escape("body") %><br>

</div>

Rating is <%= review.escape("rating") %><br>
<ul class="picture-show">

</ul>
<br>
<a class="username-on-review" href="#/users/<%= review.escape("author_id") %>"><%= review.escape("author_name") %></a>
